.hero-content {
  margin-top: 24px;
}

.sticky-scroll-section {
  background-color: #fff;
}

@media (max-width: 1023.98px) {
  .sticky-scroll-section {
    width: 100vw;
    margin: 0;
    right: 24px;
    border-radius: 16px;
  }
}
